.container{
    margin-top: 10rem;
    width: 60vh;
    background-color:  rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.titulo{
    text-align: center;
    margin-bottom: 1rem;
    
}

/*ERRORES Y +*/
.error-campo-requerido{
    color: rgb(238, 70, 47);
    text-align: end;
    margin-left: 15rem;
}
.error-campo-requerido-password{
    color: rgb(238, 70, 47);
    text-align: end;
    margin-left: 13rem;
}

.error-email-formato{
    color: rgb(238, 70, 47);
    text-align: end;
    margin-left: 12.5rem; 
}

.error-email{
    color: rgb(238, 70, 47);
    text-align: end;
    margin-left: 8rem;
}
.error-email-ya-registrado{
    color: rgb(238, 70, 47);
    text-align: end;
    margin-left: 14.5rem;
}

.error-password{
    color: rgb(238, 70, 47);
    text-align: end;
    margin-left: 8rem;
}

.error-password-corto{
    color: rgb(238, 70, 47);
    text-align: end;
    margin-left: 12rem;
}

.icono-check{
    color:greenyellow;
    margin-left: 20rem;
}

/*BOTON*/
button {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 0 5px white;
  }
  
button:hover {
    background-color: #ffffff;
    color: black;
  }