.search-container {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(247, 58, 58, 0.685);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(247, 58, 58, 0.685);
}


.search-bar {
  border: 1px solid rgba(247, 58, 58, 0.685);
  display: flex;
  align-items: center;
}


.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  background-color: transparent; 
  color: #fff; 
}


.suggestion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}


.suggestion-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.suggestion-list li:hover {
  background-color: rgba(164, 90, 90, 0.214); 
}
