<aside>
    <header>
        <h1 class="logo">Youtube Explorer</h1>
    </header>
    <nav class="barra-navegacion">
        <ul>
            <li class="opcion-menu">
                <button class="btn-opcion-menu" routerLink="home">
                    <i class="bi bi-globe-americas"></i>
                    <label class="texto-opcion-menu">Mapa</label>
                </button>
            </li>
              

            <li class="opcion-menu">
                <button class="btn-opcion-menu" routerLink="historial">
                    <i class="bi bi-clock-history"></i>
                    <label class="texto-opcion-menu">Historial</label>
                </button>
            </li>

            <li class="opcion-menu">
                <button class="btn-opcion-menu" (click)="showSearch = !showSearch">
                  <i class="bi bi-search"></i>
                  <label class="texto-opcion-menu">Buscar</label>
                </button>
                <div class="search-container" *ngIf="showSearch">
                    <app-barra-busqueda (hideSearch)="hideSearchBar()"></app-barra-busqueda> <!--necesario para la barra-->
                  </div>
              </li>
        </ul>
    </nav>
</aside>
