
    <section class="seccion-resultados" *ngFor="let video of lista_videos">
        <div class="resultado">
          <div class="contenedor-imagen">
          <img src="{{video.imagen}}" alt="" class="img-resultado">
          </div>
          <div class="datos-video"> 
            <p class="titulo-video" (click)="verDetallesVideo(video.id,video.tag)">{{video.titulo}}</p>
            <p class="nombre-canal">{{video.canal}}</p>
            <p class="stats">Vistas: {{video.visualizaciones}} - Likes: {{video.likes}} - Comentarios: {{video.cant_comentarios}}</p>
          </div>
        </div>   
  </section>
  
  