  /*Seccion Resultados en General*/
  .seccion-resultados{
    background-color: black; /*para pruebas*/
   /* justify-content: center; /* Centra horizontalmente */
  /*  align-items: center; /* Centra verticalmente */
  background-color: grey; /*transitorio*/
  color: white;
  /*height: 100%;*/
    
  }

  /*Codificando c/ resultado*/
  .resultado{
    display:flex;
    /*flex-direction: column;*/ /*si esto esta activo el texto pasa abajo de la imagen.. cosa que no quiero*/
    padding: 0.8rem;
    width:100%;

    margin-block: 3rem;/*agregado el 3-11*/
  }

  .numero-resultado{
    display:none;
  }

  .img-resultado{
    /*border-radius: 50%;*/
    width: 100%;
    max-width: 8rem;
    height: auto;
    border-radius:25% ;
  }


  .datos-video{
    margin-left: 2rem;
    font-size: 0.85rem;

  }

  .datos-video p {
    /*margin-bottom: 0; /* Elimina el margen para restablecer cualquier margen predeterminado */
    padding: 0; /* Elimina el relleno para restablecer cualquier relleno predeterminado */
    line-height: 0.8; /* Ajusta la altura de línea según tus preferencias (puedes cambiar este valor) */
    font-size: 0.9rem;
}

.titulo-video{
  font-weight: 600; /*el titulo con una especie de negrita*/
 /* line-height: 10000px;*/ /*pendiente resolver interlineado en titulos largos*/
 cursor: pointer;
}






  .resultado{
    background-color: black;
    

  }

  
.resultado:hover{
    background-color: rgba(255,88,88,0.3);
    transition: background-color 0.3s;
    

}

