 /* Estilo para el div de mensaje de error */
.mensaje-error {
  background-color: #ff0000b9; 
  color: #ffffffce; 
  padding: 10px; 
  margin-top: 10px; 
  border-radius: 5px; 
}

.seccion-resultados{
  background-color: black; 
  color: white;
}


.resultado{
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
  transition: box-shadow 0.3s;
  width: 100%;
  margin-block: 3rem;
}


.resultado:hover {
  box-shadow: 0 0 20px rgb(247, 58, 58);
  transition: box-shadorgb(246, 10, 10)
}
  

.numero-resultado{
  display:none;
}

.img-resultado{
  width: 100%;
  max-width: 8rem;
  height: auto;
  border-radius:25% ;
}


.datos-video{
  margin-left: 2rem;
  font-size: 0.85rem;

}

.datos-video p {
  padding: 0; 
  line-height: 0.8;
  font-size: 0.9rem;
}

.titulo-video{
  font-weight: 600; /*el titulo con una especie de negrita*/
  cursor: pointer;
}



