/***************************************** MAPA *****************************************/
svg{
  
    color: white;
    margin-top: 4rem;
    margin-left: 4rem;
  }
  
  path{
    fill: grey;
    color: white;
  }
  
  #MX:hover{
    fill:rgba(247, 58, 58, 0.685);
    transition: 0.2s;
  }
  
  path:hover{
    fill:rgba(247, 58, 58, 0.685);
    transition: 0.4s;

  }