<div class="container">

    <form>
        <div class="mb-3">
            <h2 class="titulo">Iniciar Sesion</h2>
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" placeholder="Ingrese su email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="usuario.email" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-4">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" placeholder="Ingrese su password" class="form-control" id="exampleInputPassword1" [(ngModel)]="usuario.password" name="password">
        </div>
        <button type="submit" class="btn btn-primary mb-4" (click)="Ingresar()">Iniciar sesion</button>
        <div>Aun no tienes cuenta?  <strong><span routerLink='/registrarse' class="btn-registrarse">Registrarse</span></strong></div>
      </form>
    </div>
    