.contenedor{
    margin-top: 3rem;
    display: flex;
}

.titulo{
    display: inline-block;
}

.seccion-datos-usuario { 
    display: flex;
    text-align: end;
   /* justify-content: end;*/
   /* align-items: end;*/
    margin-left: auto;
}

.email{
    margin-right: 2rem;
    margin-top: .5rem;
    
    
}

.btn-cerrar-sesion{
    text-align: end;
    /*justify-content: end;*/
    align-items: end;
}

/*seccion donde se muestran los resultados*/
.seccion-listar-historial{
    margin-top: 3rem;
  /*  background-color: aqua;*/
}

/*seccion formato a cada resultado de busqueda*/
.resultado{
    display: flex;
    margin-left: 21rem;
    margin-right: 10rem;
   /* margin-top: 2rem;*/
    /*background-color: brown;*/
    
    
}

.resultado p{
    margin-left: 2rem;
    margin-top: 1rem;
}


.bandera{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.seccion-datos-por-busqueda{
    
    cursor: pointer;
    /*background-color: blue;*/
    
}

.aviso-sin-busquedas{
    display:flex;
    margin-left: 4rem;
    margin-top:5rem;
    justify-content: center;
    align-items: center;
}




   .contenedor-boton-eliminar{
    display:flex;
    justify-content: center;
    /*text-align: center;*/
    /*align-items: center;*/
   }



   .delete-button {
    margin-top: .5rem; /*agregado propio*/
    margin-left: .5rem; /*agregado propio*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
  }
  
  .delete-svgIcon path {
    fill: white;
  }
  
  .delete-button:hover {
    width: 90px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .delete-button::before {
    display: none;
    content: "Eliminar";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }














  /*cerrar sesion*/
  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }